.t1 {
    color:black;
    text-align: center;
}
.body-main {
    background-color: rgb(190, 185, 40);
    color:black;
}
.t2{
    background-color:aquamarine
}
.mainapp{
    background-color: brown;
    width: 1920px;
    height: 1080px;;
}